# NEVER commit Apple's weights or assets
*.pt
*.bin
*.dmg
*.hwx
*.odix
*.mpsgraph
*.mlmodelc
*.asset
*.npy
# latex build cruft
*.aux
*.log
*.out

# macOS
.DS_Store

# python cache
__pycache__/
*.pyc
*.gguf
